<!DOCTYPE html>
<html lang="en-US" ng-app='myApp'>

<head>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="TeacherAssistant.js"></script>
    <title>Teacher Assistant</title>
</head>

<body>

    <div class="container">

        <div ng-controller='studentCtrl'>

            <div class="page-header">
                <h1><span class='glyphicon glyphicon-education'></span> Teacher Assistant <small>ISTM6215 <strong> H</strong>uman  <strong>C</strong>omputer <strong>I</strong>nteraction</small>  
                <span ng-show="studentName">     Welcome,   {{studentName}}</span>  <span ng-show="teacherName">     Welcome,   {{teacherName}}</span></h1>
            </div>

            <!--
             /*******************************************************  
                                    MAIN MENU
                 ******************************************************* */
    -->



            <span ng-show="IsMainPanelVisible"> 
            
        
                
            <div class="btn-group btn-group-justified" role="group" aria-label="...">

                <div class="btn-group" role="group">

                    <button type="button" class="btn btn-default " ng-click="ShowStudentsPanel()" class='glyphicon glyphicon-user'>
                       <h4><small> STUDENT</small></h4>  

                         <span class='glyphicon glyphicon-user'> </span>

            </button>

        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default " ng-click="ShowTeachersPanel()">
                <h4><small>TEACHER</small></h4>
                <span class='glyphicon glyphicon-user'> </span>
            </button>

        </div>

    </div>

    <div class="jumbotron">

        <div align="center">

            <img src="http://rlv.zcache.com/worlds_most_awesome_teachers_assistant_tile-rf0fe7910dd96467589fac23aedb84d66_agtk1_8byvr_324.jpg">

        </div>

    </div>


    </span>


    <!--
             /*******************************************************  
                                    STUDENTS PANEL
                 ******************************************************* */
    -->





    <span ng-show="IsStudentsPanelVisible"> 


            <div class="btn-group btn-group-justified" role="group" aria-label="...">

                <div class="btn-group" role="group">

                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="ShowHideStudents()">
                        <h4><small>1</small></h4> <span class='glyphicon glyphicon-user'  ></span> Student

    </button>

    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="ShowHideStudentQuestions()" ng-disabled='studentName == null'>
            <h4><small>2</small></h4><span class='glyphicon glyphicon-check' ></span>  Question 
        </button>



    </div>

    <div class="btn-group" role="group">
        <button type="button" ng-disabled='studentName == null ' class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="ShowHideStudentMessages()">
            <h4><small>3</small></h4><span class='glyphicon glyphicon-comment'></span> Message 
        </button>


    </div>

    <div class="btn-group" role="group">
        <button type="button" ng-disabled='studentName == null ' class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="LogOut()">
            <h4><small>4</small></h4><span class='glyphicon glyphicon-off'></span> Log Out 
        </button>


    </div>

    </div>
    <!--end student buttons group -->


    </span>



    <!--
             /*******************************************************  
                                    TEACHERS PANEL
                 ******************************************************* */
    -->




    <span ng-show="IsTeachersPanelVisible"> 


            <div class="btn-group btn-group-justified" role="group" aria-label="...">

                <div class="btn-group" role="group">

                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="ShowHideTeachers()">
                        <h4><small>1</small></h4> <span class='glyphicon glyphicon-user'></span> Teacher

    

    </button>

    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="ShowHideTeacherQuestions()" ng-disabled='teacherName == null'>
            <h4><small>2</small></h4> <span class='glyphicon glyphicon-check'></span> Question 
        </button>



    </div>

    <div class="btn-group" role="group">
        <button type="button" ng-disabled='teacherName == null ' class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="ShowHideTeacherMessages()">
            <h4><small>3</small></h4><span class='glyphicon glyphicon-comment'></span> Message 
        </button>


    </div>

    <div class="btn-group" role="group">
        <button type="button" ng-disabled='teacherName == null ' class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="LogOut()">
            <h4><small>4</small></h4><span class='glyphicon glyphicon-off'></span> Log Out 
        </button>


    </div>

    </div>
    <!--end teachers buttons group -->


    </span>









    <!--
             /*******************************************************  
                                    STUDENTS OPTIONS
                 ******************************************************* */
    -->


    <span ng-show="userTypeStudent">  
        
  <!--    <span ng-show='"!IsStudentMenuVisible" && !IsStudentQuestionsMenuVisible && !IsStudentMessagesMenuVisible'>     -->
         
    <span ng-show="showPic">
                   
    <div class="jumbotron">

    <div align="center">

        <img src="http://rlv.zcache.com/worlds_most_awesome_teachers_assistant_tile-rf0fe7910dd96467589fac23aedb84d66_agtk1_8byvr_324.jpg">

        </div>

    </div>
    </span>

    <span ng-show="IsStudentMenuVisible">     <!--Show only when Select Student button is clicked-->

            <div class="jumbotron">

                <div class="row">

                    <div class="col-md-12">




          

        <br>

       <div class="panel panel-default">
                           

            <table class='table table-bordered'>

                <thead>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Email</th>
                </thead>
                <tbody ng-repeat="student in students">

                    <tr>
                         <td>
                         <button class='btn btn-default btn-lrg'  ng-click='chooseStudent(student)'>
                           <span class='glyphicon glyphicon-ok-sign'></span>  {{student.studentId}} </button>
                                                           
    </td>
    <td>
        {{student.studentName}}
    </td>
    <td>
        {{student.studentEmail}}
    </td>

    </tr>


    </tbody>

    </table>

                        </div>
           
           
    <br>



    </div>
    <!--end col-md-row12 1 -->


    </div>
    <!--row 1 -->



    </div>
    <!--end Jumbotron 1 -->

    </span>







    <span ng-show="IsStudentQuestionsMenuVisible">     <!--Show only when Select Question button is clicked-->

            <div class="jumbotron">

                <div class="row">

                    <div class="col-md-12">


                    

        <div class="panel panel-default">
  
              <div class="panel-heading">  <h2>  <span class="label label-default"> " {{questionDetails}} " </span> </h2></div>
   

    
        <table class='table table-bordered'>

            <thead>
                <th>Question Number</th>
                <th>Question Details</th>
    
            </thead>
            <tbody ng-repeat="question in questions">

                <tr>
                    <td>
                        <button class='btn btn-default btn-lg' ng-click='chooseQuestion(question)'>
                         <span class='glyphicon glyphicon-ok-sign'></span>  {{question.questionNumber}}</button>

    </td>
    <td>
        {{question.questionDetails}}
    </td>


    </tr>


    </tbody>

    </table>
    </div>


   <div class="panel panel-default">
  
       <div class="panel-heading"> <span ng-show="answerDetails">       <button class='btn btn-default btn-lg' ng-click='saveChoosenAnswer(choosenAnswer)'> 
                            <span class='glyphicon glyphicon-floppy-saved'></span> </button>  </span>  <h2>   <span class="label label-default">
          " {{answerDetails}} " </span> 
            
                             </h2> </div>
                            
                      
     
    
    <table class='table table-bordered'>

        <thead>
            <th>Answer Number</th>
            <th>Answer Details</th>

        </thead>
        <tbody ng-repeat="answer in answers" ng-if="answer.questionNumber == questionNumber">

            <tr>
                <td>
                    <button class='btn btn-default btn-lg' ng-click='chooseAnswer(answer)'>
                       <span class='glyphicon glyphicon-ok-sign'></span>  {{answer.answerNumber}} </button>
                   
                </td>
                <td>
                    {{answer.answerDetails}}
                </td>

            </tr>


        </tbody>

    </table>

      </div>



    </div>
    <!--end col-md-row12 1 -->


    </div>
    <!--row 1 -->



    </div>
    <!--end Jumbotron 1 -->

    </span>



    


    <span ng-show="IsStudentMessagesMenuVisible">     <!--Show only when Messages button is clicked-->

        <div class="jumbotron">

            <div class="row">

                <div class="col-md-12">

                    <form ng-submit="addMessage()">  
                    <div class="input-group input-group-lg">
                      
                    <span class="input-group-btn" id="sizing-addon1">
                    <button class='btn btn-default btn-lrg ' ng-click='chooseAnswer(answer)'> <span class='glyphicon glyphicon-envelope'> </span> </button>
                    </span>  <input type="text" class="form-control" placeholder="Your message here ..." aria-describedby="sizing-addon1" ng-model="message">
     
                    </div>
                    </form>  
                    
                    <br>

                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="message in messages"> <strong>{{ message.from }} : </strong> {{ message.content }} <span class="badge"> {{ message.timestamp }} </span>
                            </li>
                        </ul>


                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row 2 -->


        </div>
        <!--end jumbotron 2-->
        </span>
    <!--end show span-->

    </span>
    <!--end show options when userType is Student-->

    <!--
             /*******************************************************  
                                    TEACHERS OPTIONS
                 ******************************************************* */
    -->





    <span ng-show="userTypeTeacher">     <!--Show only when Select Teacher button is clicked-->

        
            <span ng-show="showPic">    
            
    <div class="jumbotron">

    <div align="center">

        <img src="http://rlv.zcache.com/worlds_most_awesome_teachers_assistant_tile-rf0fe7910dd96467589fac23aedb84d66_agtk1_8byvr_324.jpg">

        </div>

    </div>
    </span>






    <span ng-show="IsTeacherMenuVisible">     <!--Show only when Select Teacher button is clicked-->
        
            <div class="jumbotron">

                <div class="row">

                    <div class="col-md-12">




          

       <div class="panel panel-default">
  
            

            <table class='table table-bordered'>

                <thead>
                    <th>Teacher Id</th>
                    <th>Teacher Name</th>
                    <th>Email</th>
            
                </thead>
                <tbody ng-repeat="teacher in teachers">

                    <tr>
                        
                         <td>
                             
                              
                             <button class='btn btn-default btn-lg' ng-click='chooseTeacher(teacher)'>
                             <span class='glyphicon glyphicon-ok-sign'></span> {{teacher.teacherId}} </button>
                             <button class='btn btn-default btn-lg' ng-click='updateTeacher(teacher)'>
             <span class='glyphicon glyphicon-floppy-disk'></span></button>
                             
        <button class='btn btn-default btn-lg' ng-click='deleteTeacher(teacher.teacherName)'>
        <span class='glyphicon glyphicon-floppy-remove'></span></button>
                             
                           
    </td>
    <td>
        <input type='text' value="{{teacher.teacherName}}">
        
    </td>
    <td>
        <input type='text' ng-model="teacher.teacherEmail">
    
    </td>


    </tr>


    </tbody>

    </table>


    </div>
    
 
                        
 <div class="panel panel-default">                       

<form class="navbar-form navbar-left" role="search">
    
    
    
    <div class="form-group">
            
        <label> <h3><span class="label label-default">New Teacher:</span></h3></label>

        <label>  Id</label>
        <input type='text' id='teacherName' ng-model='teacherId' class="form-control">
        

        <label>  Name</label>
        <input type='text' id='teacherName' ng-model='teacherName' class="form-control">
       

        <label>  Email</label>
        <input type='text' id='teacherEmail' ng-model='teacherEmail' class="form-control">
       

        <button class='btn btn-default btn-lg' ng-click='saveTeacher()'>
        <span class='glyphicon glyphicon-floppy-disk'></span></button>

    </div>

  </form>
    

                        
                        
                       
                        

<form class="navbar-form navbar-left" role="search">
    
  
    

    <div class="form-group">
        
        <label> <h3><span class="label label-default">New Student:</span></h3></label>

        <label>  Id</label>
        <input type='text' id='studentName' ng-model='studentId' class="form-control">
       

        <label>  Name</label>
        <input type='text' id='studentName' ng-model='studentName' class="form-control">
        

        <label>  Email</label>
        <input type='text' id='studentEmail' ng-model='studentEmail' class="form-control">
        

        <button class='btn btn-default btn-lg' ng-click='saveStudent()'>
        <span class='glyphicon glyphicon-floppy-disk'></span></button>

    </div>

</form>
       
    </div>
    <!--end panel -->
            
    </div>
    <!--end col-md-row12 1 -->


    </div>
    <!--row 1 -->



    </div>
    <!--end Jumbotron 1 -->



    </span>





    <span ng-show="IsTeacherQuestionsMenuVisible">     <!--Show only when Select Question button is clicked-->

            <div class="jumbotron">

                <div class="row">

                    <div class="col-md-12">

                    <div class="panel panel-default">
  
                             <div class="panel-heading"><h3>Selected Question: {{questionNumber}} <small> {{questionDetails}} </small>    
                     
  
                        <span ng-show="questionDetails"> <button class='btn btn-default btn-lg' ng-click='displayAnswers(questionNumber)'>
                            Statistics <span class='glyphicon glyphicon-blackboard'></span></button>
    </span>

      
    </h3>
     </div>                            
     </div>
    


    <span ng-show="questionNumber">                   
                        
        <div class="panel panel-default">
  
            <div class="panel-heading"> <h3>Student Answers for:  <small> {{questionNumber}} </small> </h3> </div>
 

    <table class='table table-bordered'>

        <thead>
            <th>Answer Number</th>
            <th>Student Name</th>
            <th>Answer Date</th>

        </thead>
        <tbody ng-repeat="answer in studentAnswers" ng-if="answer.questionNumber == questionNumber">

            <tr>
                <td>
                    {{answer.answerNumber}}
                </td>

                <td>
                   {{answer.studentName}}
                </td>

                <td>
                    {{answer.timeStamp}}
                </td>

    </tr>


    </tbody>

    </table>

    </div>
            
            
       <div class="panel panel-default">
  
           <div class="panel-heading"> <h3>All Answers for: <small>{{questionDetails}} </small> </h3>   </div>
            
            
   


    <table class='table table-bordered'>

        <thead>
            <th>Answer Number</th>
            <th>Answer Details</th>
            

        </thead>
        <tbody ng-repeat="answer in answers" ng-if="answer.questionNumber == questionNumber">

            <tr>
                <td>
                   {{answer.answerNumber}}
                     <button class='btn btn-default btn-lg' ng-click='updateQuestion(question)'>
                     <span class='glyphicon glyphicon-floppy-disk'></span></button>
    <button class='btn btn-default btn-lg' ng-click='deleteQuestion(question.questionNumber)'>
                <span class='glyphicon glyphicon-floppy-remove'></span></button>
                </td>
                <td>
                    <input type='text' ng-model="answer.answerDetails" class="form-control">
                </td>
    </tr>


    </tbody>

    </table>
                                 
     </div>
            
    
   </span>


                        
                        
     <div class="panel panel-default">
  
           <div class="panel-heading"> <h3>All Questions:  </h3> </div>                   
                        
                        
                        
    

    <table class='table table-bordered'>

        <thead>
            <th>Question Number</th>
            <th>Question Details</th>
       
        </thead>
        <tbody ng-repeat="question in questions">

            <tr>
                <td>
                    
                    <button class='btn btn-default btn-lg' ng-click='chooseQuestion(question)'>
                    <span class='glyphicon glyphicon-ok-sign'></span> {{question.questionNumber}} </button>
                    <button class='btn btn-default btn-lg' ng-click='updateQuestion(question)'>
                       <span class='glyphicon glyphicon-floppy-disk'></span></button>
                    <button class='btn btn-default btn-lg' ng-click='deleteQuestion(question.questionNumber)'>
                         <span class='glyphicon glyphicon-floppy-remove'></span></button>

                    
                </td>
                <td>
                    <input type='text' ng-model="question.questionDetails" class="form-control">
                </td>

            </tr>


        </tbody>

    </table>


   </div>

  
                        
                        
<div class="panel panel-default">                          
                        
                        
<form class="navbar-form navbar-left" role="search">
     
    
 <div class="form-group">
    
      <label> <h3><span class="label label-default"> New Question: </span></h3></label>       

        <label> Number</label>
        <input type='text' id='questionNumber' ng-model='questionNumber' class="form-control">
        

        <label> Details</label>
        <input type='text' id='questionDetails' ng-model='questionDetails' class="form-control">
       

        <button class='btn btn-default btn-lg' ng-click='saveQuestion()'>
        <span class='glyphicon glyphicon-floppy-disk'></span></button>

    </div>
    
    <div class="form-group">
                   
    <label> <h3><span class="label label-default"> New Answer: </span></h3></label>

   

        <label>Number</label>
        <input type='text' id='questionNumber' ng-model='questionNumber' class="form-control">
        

        <label>Number</label>
        <input type='text' id='answerNumber' ng-model='answerNumber' class="form-control">
        

        <label>Details</label>
        <input type='text' id='answerDetails' ng-model='answerDetails' class="form-control">


        <button class='btn btn-default btn-lg' ng-click='saveAnswer()'>
            <span class='glyphicon glyphicon-floppy-disk'></span></button>

     </div>   
        
 </form>

</div>


    </div>
     <!--end col-md-row12 1 -->

      </div><!--row 1 -->

    </div>
    <!--end Jumbotron 1 -->

    
    </span>


        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    <span ng-show="IsTeacherMessagesMenuVisible">     <!--Show only when Messages button is clicked-->

        <div class="jumbotron">

            <div class="row">

                <div class="col-md-12">

                    <form ng-submit="addMessage()">  
                    <div class="input-group input-group-lg">
                      
                    <span class="input-group-btn" id="sizing-addon1">
                    <button class='btn btn-default btn-lrg ' ng-click='chooseAnswer(answer)'> <span class='glyphicon glyphicon-envelope'> </span> </button>
                    </span>  <input type="text" class="form-control" placeholder="Your message here ..." aria-describedby="sizing-addon1" ng-model="message">
     
                    </div>
                    </form>  
                    
                    <br>
                    
                    

                          <ul class="list-group">
                            <li class="list-group-item" ng-repeat="message in messages"> <strong>{{ message.from }} : </strong> {{ message.content }} <span class="badge"> {{ message.timestamp }} </span>
                            </li>
                        </ul>


                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row 2 -->


        </div>
        <!--end jumbotron 2-->
        
        </span>
    <!--end show span-->


    </span>
    <!--end show option when userType is Teacher -->

    </div>
    <!--end studentCtrl -->


    </div>
    <!--end container-->


</body>

</html>
